@import "mi-nav.css";
@import "mi-footer.css";
@import "listas.css";

:root {
  font-family: sans-serif;
  --col-active: #4646462c;
  --color-header: white;
  --colorMiNav: white;
}




h1 {
  margin: 0.5rem 0;
}

figure img {
  max-width: 100%;
}

legend,
p label {
  display: block;
  font-weight: bold;
  font-size: 0.7rem;
}

p label>* {
  display: block;
  font-weight: normal;
  font-size: 1rem;
  box-sizing: border-box;
  width: 100%;
}
